<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>0.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>active</key>
				<true/>
				<key>awake</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixed</key>
				<true/>
				<key>gravityScale</key>
				<real>0.0</real>
				<key>shapes</key>
				<array>
					<dict>
						<key>density</key>
						<real>1</real>
						<key>fixtures</key>
						<array>
							<array>
								<string>{13.044828818944364, -2.9877217383243679}</string>
								<string>{11.451377225171367, 21.511596515935452}</string>
								<string>{-18.625021607293938, 18.723056226832707}</string>
								<string>{-22.60865059172643, 10.556616808746101}</string>
								<string>{-19.620928853402063, -16.532060285394838}</string>
								<string>{-6.6741346539964663, -25.296044051146318}</string>
							</array>
							<array>
								<string>{13.044828818944364, -2.9877217383243679}</string>
								<string>{-6.6741346539964663, -25.296044051146318}</string>
								<string>{16.43091345571198, -25.89358839881119}</string>
								<string>{25.792441569128336, -10.158253910302852}</string>
							</array>
						</array>
						<key>friction</key>
						<real>0.20000000298023224</real>
						<key>name</key>
						<string>UntitledShape</string>
						<key>restitution</key>
						<real>0.0</real>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
						<key>type</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>sleep</key>
				<true/>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>frame</key>
			<string>{{1, 1}, {41, 43}}</string>
			<key>offset</key>
			<string>{0.5, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 5}, {41, 43}}</string>
			<key>sourceSize</key>
			<string>{96, 54}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{44, 46}</string>
		<key>textureFileName</key>
		<string>Hero_UntitledSheet.png</string>
	</dict>
</dict>
</plist>
