.DS_Store
Project.Linux/obj
Project.Linux/bin
Project.Android/cocos2dx
Project.Android/CocosDenshion
Project.Android/extensions
Project.Android/external
Project.Android/scripting
Project.iOS/studygame/libs