<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>0.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>active</key>
				<true/>
				<key>awake</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixed</key>
				<true/>
				<key>gravityScale</key>
				<real>0.0</real>
				<key>shapes</key>
				<array>
					<dict>
						<key>density</key>
						<real>1</real>
						<key>fixtures</key>
						<array>
							<array>
								<string>{26.089657637888727, -5.9754434766487359}</string>
								<string>{22.902754450342734, 43.023193031870903}</string>
								<string>{-37.250043214587876, 37.446112453665414}</string>
								<string>{-45.217301183452861, 21.113233617492202}</string>
								<string>{-39.241857706804126, -33.064120570789676}</string>
								<string>{-13.348269307992933, -50.592088102292635}</string>
							</array>
							<array>
								<string>{26.089657637888727, -5.9754434766487359}</string>
								<string>{-13.348269307992933, -50.592088102292635}</string>
								<string>{32.861826911423961, -51.787176797622379}</string>
								<string>{51.584883138256671, -20.316507820605704}</string>
							</array>
						</array>
						<key>friction</key>
						<real>0.20000000298023224</real>
						<key>name</key>
						<string>UntitledShape</string>
						<key>restitution</key>
						<real>0.0</real>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
						<key>type</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>sleep</key>
				<true/>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>frame</key>
			<string>{{2, 2}, {82, 85}}</string>
			<key>offset</key>
			<string>{1, 1.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56, 10}, {82, 85}}</string>
			<key>sourceSize</key>
			<string>{192, 108}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{86, 89}</string>
		<key>textureFileName</key>
		<string>Hero_UntitledSheet.png</string>
	</dict>
</dict>
</plist>
