<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Graphics/DE.png</key>
		<dict>
			<key>frame</key>
			<string>{{92, 1}, {24, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 16}}</string>
			<key>sourceSize</key>
			<string>{24, 16}</string>
		</dict>
		<key>Graphics/GB.png</key>
		<dict>
			<key>frame</key>
			<string>{{66, 1}, {24, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 16}}</string>
			<key>sourceSize</key>
			<string>{24, 16}</string>
		</dict>
		<key>Graphics/PL.png</key>
		<dict>
			<key>frame</key>
			<string>{{40, 1}, {24, 16}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 16}}</string>
			<key>sourceSize</key>
			<string>{24, 16}</string>
		</dict>
		<key>Graphics/blank_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{118, 9}, {-127, -26}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{127, 26}, {-127, -26}}</string>
			<key>sourceSize</key>
			<string>{127, 26}</string>
		</dict>
		<key>Graphics/facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{55, 19}, {13, 13}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {13, 13}}</string>
			<key>sourceSize</key>
			<string>{16, 16}</string>
		</dict>
		<key>Graphics/nosound.png</key>
		<dict>
			<key>frame</key>
			<string>{{118, 1}, {6, 9}}</string>
			<key>offset</key>
			<string>{-3, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {6, 9}}</string>
			<key>sourceSize</key>
			<string>{12, 11}</string>
		</dict>
		<key>Graphics/options_bt_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {37, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 36}}</string>
			<key>sourceSize</key>
			<string>{37, 36}</string>
		</dict>
		<key>Graphics/sound.png</key>
		<dict>
			<key>frame</key>
			<string>{{70, 19}, {12, 11}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {12, 11}}</string>
			<key>sourceSize</key>
			<string>{12, 11}</string>
		</dict>
		<key>Graphics/twitter.png</key>
		<dict>
			<key>frame</key>
			<string>{{40, 19}, {13, 13}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {13, 13}}</string>
			<key>sourceSize</key>
			<string>{16, 16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128, 128}</string>
		<key>textureFileName</key>
		<string>Graphics.png</string>
	</dict>
</dict>
</plist>
