<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Graphics/DE.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 197}, {48, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 32}}</string>
			<key>sourceSize</key>
			<string>{48, 32}</string>
		</dict>
		<key>Graphics/GB.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 147}, {48, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 32}}</string>
			<key>sourceSize</key>
			<string>{48, 32}</string>
		</dict>
		<key>Graphics/PL.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 97}, {48, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 32}}</string>
			<key>sourceSize</key>
			<string>{48, 32}</string>
		</dict>
		<key>Graphics/blank_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 247}, {-255, -52}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{255, 52}, {-255, -52}}</string>
			<key>sourceSize</key>
			<string>{255, 52}</string>
		</dict>
		<key>Graphics/facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{35, 127}, {28, 28}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {28, 28}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>Graphics/nosound.png</key>
		<dict>
			<key>frame</key>
			<string>{{35, 183}, {12, 17}}</string>
			<key>offset</key>
			<string>{-6, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 3}, {12, 17}}</string>
			<key>sourceSize</key>
			<string>{24, 22}</string>
		</dict>
		<key>Graphics/options_bt_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {89, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {89, 94}}</string>
			<key>sourceSize</key>
			<string>{89, 94}</string>
		</dict>
		<key>Graphics/sound.png</key>
		<dict>
			<key>frame</key>
			<string>{{35, 157}, {24, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 22}}</string>
			<key>sourceSize</key>
			<string>{24, 22}</string>
		</dict>
		<key>Graphics/twitter.png</key>
		<dict>
			<key>frame</key>
			<string>{{35, 97}, {28, 28}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {28, 28}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>textureFileName</key>
		<string>Graphics.png</string>
	</dict>
</dict>
</plist>
