<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Graphics/DE.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 133}, {96, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 64}}</string>
			<key>sourceSize</key>
			<string>{96, 64}</string>
		</dict>
		<key>Graphics/GB.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 67}, {96, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 64}}</string>
			<key>sourceSize</key>
			<string>{96, 64}</string>
		</dict>
		<key>Graphics/PL.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 1}, {96, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 64}}</string>
			<key>sourceSize</key>
			<string>{96, 64}</string>
		</dict>
		<key>Graphics/blank_background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 197}, {-510, -104}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{510, 104}, {-510, -104}}</string>
			<key>sourceSize</key>
			<string>{510, 104}</string>
		</dict>
		<key>Graphics/facebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{59, 199}, {56, 56}}</string>
			<key>offset</key>
			<string>{-2, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 3}, {56, 56}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>Graphics/nosound.png</key>
		<dict>
			<key>frame</key>
			<string>{{117, 150}, {23, 35}}</string>
			<key>offset</key>
			<string>{-12, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {23, 35}}</string>
			<key>sourceSize</key>
			<string>{49, 45}</string>
		</dict>
		<key>Graphics/options_bt_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {148, 147}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {148, 147}}</string>
			<key>sourceSize</key>
			<string>{148, 147}</string>
		</dict>
		<key>Graphics/sound.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 150}, {49, 45}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {49, 45}}</string>
			<key>sourceSize</key>
			<string>{49, 45}</string>
		</dict>
		<key>Graphics/twitter.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 199}, {56, 56}}</string>
			<key>offset</key>
			<string>{-2, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 3}, {56, 56}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>textureFileName</key>
		<string>Graphics.png</string>
	</dict>
</dict>
</plist>
