<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>0.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>active</key>
				<true/>
				<key>awake</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixed</key>
				<true/>
				<key>gravityScale</key>
				<real>0.0</real>
				<key>shapes</key>
				<array>
					<dict>
						<key>density</key>
						<real>1</real>
						<key>fixtures</key>
						<array>
							<array>
								<string>{6.5224144094721819, -1.493860869162184}</string>
								<string>{5.7256886125856834, 10.755798257967726}</string>
								<string>{-9.312510803646969, 9.3615281134163535}</string>
								<string>{-11.304325295863215, 5.2783084043730506}</string>
								<string>{-9.8104644267010315, -8.266030142697419}</string>
								<string>{-3.3370673269982332, -12.648022025573159}</string>
							</array>
							<array>
								<string>{6.5224144094721819, -1.493860869162184}</string>
								<string>{-3.3370673269982332, -12.648022025573159}</string>
								<string>{8.2154567278559902, -12.946794199405595}</string>
								<string>{12.896220784564168, -5.079126955151426}</string>
							</array>
						</array>
						<key>friction</key>
						<real>0.20000000298023224</real>
						<key>name</key>
						<string>UntitledShape</string>
						<key>restitution</key>
						<real>0.0</real>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
						<key>type</key>
						<integer>4</integer>
					</dict>
				</array>
				<key>sleep</key>
				<true/>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>frame</key>
			<string>{{0, 1}, {21, 21}}</string>
			<key>offset</key>
			<string>{0.5, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 3}, {21, 21}}</string>
			<key>sourceSize</key>
			<string>{48, 27}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{23, 24}</string>
		<key>textureFileName</key>
		<string>Hero_UntitledSheet.png</string>
	</dict>
</dict>
</plist>
